*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../web.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #000;
	color: #000;
}

ul li.active a{
		background-color: #fff;
	color: #000;
}
section
		{
			display: inline-block;
			border-radius: 1px;
			box-shadow: 10px 10px;
			border: 1px solid #000;
			font-size: 10mm;
			color: white;
			position: absolute;
			line-height: 10mm;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}

footer
		{
			background-color: white;
			color:black;
			clear: both;
			text-align: center;
			padding: 5px;
			font-size: 0.75em;
			font-style: italic;
		}

.logo img{
	float: left;
	width: 150px;
	width: auto;
}

.logo1 img{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.logo3 h2{
			box-shadow: 10px 10px 10px;
			font-size: 70px;
			color:white;
			clear: both;
	text-align: center;
}
.logo4{
			font-size: 30px;
			color:white;
			clear: both;
	text-align: center;
}


.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #000;
	font-size: 70px;
}

.home{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-40%,10%);
}
.home marquee{
	color: #fff;
	font-size: 70px;
}


.Picture{
position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 150px;
	width: auto;
;}
